body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.wrapper{
    padding: 20px;
    /* width: 30vw;
    height: 30vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.circle{
    border: 1px solid green;
    box-shadow: 2px 0px 12px 2px rgb(33, 33, 33) inset;
    background-color: green;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
}

#mole-img{
    border-radius: 50%;
    background-color: black;
    width: 10vw;
}

.displayDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    border: none;

}

dialog{
    background-color: rgb(0,0,0);
    color: white;
    border: 0.5px solid white;
    border-radius: 12px;
    font-size: 2rem;
    padding: 50px;
    text-align: center;
}
::backdrop {
background-color: rgb(0, 0, 0);
    opacity: 0.8;
  }

button{
    background-color: rgb(0,0,0);
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255);
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-size: 1.5rem;
}